body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Container {
  min-width: 300px;
  min-height: 300px;
  width: 40vw;
  height: 40vh;
  background-color: #f3f9d2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
}

#text-color {
  font-size: 1.4em;
  color: #a3b66e;
}

button {
  border-radius: 20px;
  font-weight: bold;
  border: none;
  background-color: #cbeaa6;
  color: #3d0b37;
}
